<p>This is top-banner</p>
<!-- <div class="box-wrapper">
  <div class="carousel-contents">
    <div class="carousel-list-items">
      <ng-template ngFor let-item [ngForOf]="imageObj" let-i="index">
         <img id="{{i}}" class="carousel-image" src="https:{{item.imagePath}}">
      </ng-template>
    </div>
  </div>
  <div class="carousel-controls">
    <a href="">
      <span class="icon-prev"></span>
      <span class="controls-prev">PREV</span>
    </a>
    <a href="">
      <span class="icon-next"></span>
      <span class="controls-next">NEXT</span>
    </a>
  </div>
  <ol class="carousel-indicators">
    <li class="" data-target="" data-slide-to=""></li>
  </ol>
</div> -->
<!--try new test here!-->
<!-- <div class="container">
 <ngb-carousel *ngIf="imageObj">
    <ng-template ngbSlide *ngFor="let event of imageObj">
      <img src="https:{{event.imagePath}}" alt="Random slide">
    </ng-template>
  </ngb-carousel>
</div> -->

<ngb-carousel *ngIf="imageObj" [interval] = "3500">
  <ng-template ngbSlide *ngFor="let event of imageObj">
    <img src="https:{{event.imagePath}}" alt="Random slide" width="100%" height="100%">
  </ng-template>
</ngb-carousel>

<!-- <p>test animation </p>
<div class="container">
  <app-carousel-animation [slides]="slides" [animationType]="animationType"></app-carousel-animation>
  <div class="animition-type-selector">
    <div class="title">Let's Play!</div>
    <div *ngFor="let type of animationTypes" class="btn btn-outline-info" (click)="setAnimationType(type)"
      [class.active]="animationType === type.value">
      {{ type.name }}
    </div>
  </div>
</div> -->
