<p>This is top-banner</p>
<div class="box-wrapper">
  <div class="carousel-contents">
    <div class="carousel-list-items">
      <ng-template ngFor let-item [ngForOf]="imageObj" let-i="index">
         <img id="{{i}}" class="carousel-image" src="https:{{item.imagePath}}">
      </ng-template>
    </div>
  </div>
  <div class="carousel-controls">
    <a href="">
      <span class="icon-prev"></span>
      <span class="controls-prev">PREV</span>
    </a>
    <a href="">
      <span class="icon-next"></span>
      <span class="controls-next">NEXT</span>
    </a>
  </div>
  <ol class="carousel-indicators">
    <li class="" data-target="" data-slide-to=""></li>
  </ol>
</div>

<!-- <img src="https://image.vtvhyundai.vn/banner/128/1001128.png">  -->
<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide">
    </div>
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[1]" alt="Random second slide">
    </div>
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[2]" alt="Random third slide">
    </div>
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->