<p>This is top-banner</p>
<!-- <div class="box-wrapper">
  <div class="carousel-contents">
    <div class="carousel-list-items">
      <ng-template ngFor let-item [ngForOf]="imageObj" let-i="index">
         <img id="{{i}}" class="carousel-image" src="https:{{item.imagePath}}">
      </ng-template>
    </div>
  </div>
  <div class="carousel-controls">
    <a href="">
      <span class="icon-prev"></span>
      <span class="controls-prev">PREV</span>
    </a>
    <a href="">
      <span class="icon-next"></span>
      <span class="controls-next">NEXT</span>
    </a>
  </div>
  <ol class="carousel-indicators">
    <li class="" data-target="" data-slide-to=""></li>
  </ol>
</div> -->

<!-- <img src="https://image.vtvhyundai.vn/banner/128/1001128.png">  -->
<!-- <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions"  *ngFor="let item of imageObj ;let index = index" [attr.data-slide-to]="index"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item" *ngFor="let item of imageObj ;let index = index;let isFirst = first" [ngClass]="{active:isFirst}">
      <img src="https:{{item.imagePath}}" class="d-block w-100" alt="{{item.bannerName}}">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<!--try ST ver.3 here-->
<ngb-carousel *ngIf="imageObj!=null">
   <div *ngFor="let item of imageObj; let i = index">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img id="{{i}}" class="carousel-image" src="https:{{item.imagePath}}">
        </div>
      </ng-template>
    </div>
</ngb-carousel>